$accent-color:#c05b4d;
$accent-dark-color:#36b0ba;

$bg-color:#f8f5ec;
$bg-dark-color: #0e1e25;

$text-color:#34495e;
$text-dark-color:#fefefe;

$box-shadow-color:#cacaca;
$box-shadow-dark-color:#4e4e4e;


